<footer class="flex flex-row flex-center">
  <div class="footer-container flex flex-column gap-16">
    <div class="top flex gap-32">
      <div class="brand-info flex flex-column gap-16">
        <div class="brand-logo">
          <div class="logo-img">
            <img src="./assets/logo.png" alt="Casa di Moda Logo" />
          </div>
          <h4 class="medium color-primary">
            Casa <span class="color-secondary">di Moda</span>
          </h4>
        </div>

        <p class="p14 regular color-gray200">
          Where modern elegance meets everyday comfort. Thoughtfully designed
          pieces that speak without words. Wear your presence. Leave your
          impression. Made for bold moves and louder statements. Dress how you
          feel. Own every moment.
        </p>

        <div class="flex flex-column gap-8">
          <p class="p14 medium color-secondary">Follow us on</p>

          <div class="follow-actions flex align-center gap-16">
            <a href="#"
              ><button
                class="social-btn bg-primary-faded rd-4 flex flex-center"
              >
                <i
                  data-lucide="facebook"
                  class="lucide-icon"
                  color="var(--color-primary)"
                  fill="var(--color-primary)"
                ></i></button
            ></a>

            <a href="#"
              ><button class="social-btn bg-secondary rd-4 flex flex-center">
                <i
                  data-lucide="instagram"
                  class="lucide-icon"
                  color="var(--color-white)"
                ></i></button
            ></a>

            <a href="#"
              ><button
                class="social-btn bg-primary-faded rd-4 flex flex-center"
              >
                <i
                  data-lucide="twitter"
                  class="lucide-icon"
                  color="var(--color-primary)"
                  fill="var(--color-primary)"
                ></i></button
            ></a>
          </div>
        </div>
      </div>

      <div class="newsletter flex flex-column gap-32">
        <div class="flex flex-column gap-8">
          <h4 class="medium color-secondary">Subscribe to newsletter</h4>

          <p class="p14 regular color-gray200">
            Let us keep you updated about the latest wears, accessories, events
            and offers on our platform.
          </p>
        </div>

        <form class="email-inp-container flex flex-row gap-8 flex-center rd-8">
          <input
            type="email"
            name="email"
            id="newsletter_email"
            placeholder="Enter your email address"
            class="p16 regular color-secondary"
            required
          />

          <button
            id="newsletter_subscribe_btn"
            class="rd-8 bg-secondary color-white p14 medium"
          >
            Subscribe
          </button>
        </form>
      </div>
    </div>

    <div class="seperator"></div>

    <div class="bottom flex space-between gap-16 align-center">
      <p class="p14 regular color-gray200">
        © 2026 CASA DI MODA. ALL RIGHTS RESERVED
      </p>

      <div class="flex flex-row flex-center gap-16">
        <a href="#" class="p14 medium color-secondary">Privacy Policy</a>
        <a href="#" class="p14 medium color-secondary">Terms of Service</a>
      </div>
    </div>
  </div>
</footer>
