<nav>
  <div data-name="desktop" class="nav-container">
    <div class="nav-logo">
      <div class="logo-img">
        <img src="./assets/logo.png" alt="Casa di Moda Logo" />
      </div>
      <h4 class="medium color-primary">
        Casa <span class="color-secondary">di Moda</span>
      </h4>
    </div>

    <!---->
    <ul class="nav-links">
      <li id="" class="nav-link p16 regular color-gray200">
        <a href="/">Home</a>
      </li>
      <li id="products" class="nav-link p16 regular color-gray200">
        <a href="/products.html">Products</a>
      </li>
      <li id="news" class="nav-link p16 regular color-gray200">
        <a href="/news.html">News</a>
      </li>
      <li id="about" class="nav-link p16 regular color-gray200">
        <a href="/about.html">About Us</a>
      </li>
    </ul>

    <!---->
    <div class="nav-actions">
      <button class="bg-primary-faded bookings-btn">
        <p class="p14 medium color-primary">Book Appointment</p>
      </button>

      <button class="cart-btn">
        <i
          data-lucide="shopping-cart"
          class="lucide-icon"
          width="24px"
          height="24px"
          stroke-width="1.3px"
          color="var(--color-secondary)"
        ></i>

        <span class="p12 regular">0</span>
      </button>
    </div>
  </div>

  <div data-name="mobile" class="nav-container">
    <div class="nav-logo">
      <div class="logo-img">
        <img src="./assets/logo.png" alt="Casa di Moda Logo" />
      </div>
      <h4 class="medium color-primary">
        Casa <span class="color-secondary">di Moda</span>
      </h4>
    </div>

    <div class="nav-actions">
      <button id="mobile-cart" class="cart-btn">
        <i
          data-lucide="shopping-cart"
          class="lucide-icon"
          width="24px"
          height="24px"
          stroke-width="1.3px"
          color="var(--color-secondary)"
        ></i>

        <span class="p12 regular">0</span>
      </button>

      <button id="mobile-nav-menu-btn">
        <i
          data-lucide="menu"
          class="lucide-icon"
          width="24px"
          height="24px"
          stroke-width="1.3px"
          color="var(--color-secondary)"
        ></i>
      </button>
    </div>
  </div>

  <!--MOBILE MENU-->
  <div id="mobile-nav-menu">
    <ul class="nav-links">
      <li id="" class="nav-link p16 regular color-gray200">
        <a href="/">Home</a>
      </li>
      <li id="products" class="nav-link p16 regular color-gray200">
        <a href="/products.html">Products</a>
      </li>
      <li id="news" class="nav-link p16 regular color-gray200">
        <a href="/news.html">News</a>
      </li>
      <li id="about" class="nav-link p16 regular color-gray200">
        <a href="/about.html">About Us</a>
      </li>
    </ul>

    <button class="bg-primary-faded bookings-btn">
      <p class="p14 medium color-primary">Book Appointment</p>
    </button>
  </div>
</nav>
