<nav class="flex flex-row flex-center">
  <div
    data-name="desktop"
    class="nav-container flex align-center space-between gap-24"
  >
    <div class="brand-logo">
      <div class="logo-img">
        <img src="./assets/logo.png" alt="Casa di Moda Logo" />
      </div>
      <h4 class="medium color-primary">
        Casa <span class="color-secondary">di Moda</span>
      </h4>
    </div>

    <!---->
    <ul class="nav-links flex align-center gap-16">
      <li id="" class="nav-link p16 regular color-gray200">
        <a href="./">Home</a>
      </li>
      <li id="products" class="nav-link p16 regular color-gray200">
        <a href="./products">Products</a>
      </li>
      <li id="news" class="nav-link p16 regular color-gray200">
        <a href="./news">News</a>
      </li>
      <li id="about" class="nav-link p16 regular color-gray200">
        <a href="./about">About Us</a>
      </li>
    </ul>

    <!---->
    <div class="nav-actions flex align-center gap-8">
      <button class="bg-primary-faded bookings-btn">
        <p class="p14 medium color-primary">Book Appointment</p>
      </button>

      <button class="cart-btn">
        <i
          data-lucide="shopping-cart"
          class="lucide-icon"
          width="24px"
          height="24px"
          stroke-width="1.3px"
          color="var(--color-secondary)"
        ></i>

        <span class="p12 regular flex-center bg-primary color-white">0</span>
      </button>
    </div>
  </div>

  <div
    data-name="mobile"
    class="nav-container flex align-center space-between gap-24"
  >
    <div class="brand-logo">
      <div class="logo-img">
        <img src="./assets/logo.png" alt="Casa di Moda Logo" />
      </div>
      <h4 class="medium color-primary">
        Casa <span class="color-secondary">di Moda</span>
      </h4>
    </div>

    <div class="nav-actions flex align-center gap-8">
      <button id="mobile-cart" class="cart-btn">
        <i
          data-lucide="shopping-cart"
          class="lucide-icon"
          width="24px"
          height="24px"
          stroke-width="1.3px"
          color="var(--color-secondary)"
        ></i>

        <span class="p12 regular flex-center bg-primary color-white">0</span>
      </button>

      <button id="mobile-nav-menu-btn">
        <i
          data-lucide="menu"
          class="lucide-icon"
          width="24px"
          height="24px"
          stroke-width="1.3px"
          color="var(--color-secondary)"
        ></i>
      </button>
    </div>
  </div>

  <!--MOBILE MENU-->
  <div
    id="mobile-nav-menu"
    class="bg-white flex-column align-center space-between gap-24"
  >
    <ul class="nav-links flex align-center gap-16">
      <li id="" class="nav-link p16 regular color-gray200">
        <a href="./">Home</a>
      </li>
      <li id="products" class="nav-link p16 regular color-gray200">
        <a href="./products">Products</a>
      </li>
      <li id="news" class="nav-link p16 regular color-gray200">
        <a href="./news">News</a>
      </li>
      <li id="about" class="nav-link p16 regular color-gray200">
        <a href="./about">About Us</a>
      </li>
    </ul>

    <button class="bg-primary-faded bookings-btn">
      <p class="p14 medium color-primary">Book Appointment</p>
    </button>
  </div>
</nav>
