section.about-us {
  height: 540px;
  overflow: hidden;

  padding: 16px;

  justify-content: flex-end;
  position: relative;
}

@media screen and (max-width: 768px) {
  section.about-us {
    height: 660px;
  }
}

.about-us-image {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

section.about-us > div:nth-child(2) {
  width: 100%;
  max-width: 920px;

  padding: 16px;

  text-align: center;
  z-index: 1;
}

section.mv {
  padding: 16px;
}

.mission,
.vision {
  width: 100%;
  padding: 10px;
}

.vision {
  text-align: right;
}

.mission > div:nth-child(1),
.vision > div:nth-child(2) {
  width: 100%;
  max-width: 450px;
}

.mv-photo {
  width: 100%;
  max-width: 480px;
  height: 240px;

  overflow: hidden;
}

@media screen and (max-width: 768px) {
  section.mv {
    padding: 0px;
  }

  .mission {
    flex-wrap: wrap;
  }

  .vision {
    flex-wrap: wrap-reverse;
  }

  .mv-photo {
    max-width: none;
  }
}

.trustees-container {
  flex-wrap: wrap;
}

.trustee-card {
  width: 240px;
  height: 420px;

  padding: 24px;

  background: #ebedee;
  background: linear-gradient(
    152deg,
    rgba(235, 237, 238, 1) 50%,
    rgba(54, 69, 79, 1) 100%
  );
}

.trustee-card h3 {
  line-height: 20px;
}

@media screen and (max-width: 768px) {
  .trustees-container {
    gap: 16px;
  }

  .trustee-card {
    width: calc((100% - 16px) / 2);
    min-width: calc((100% - 16px) / 2);

    height: 320px;

    padding: 16px;
    border-radius: 8px;
  }
}

.trc-frame {
  flex: 1;
}

.trc-photo {
  width: 100%;
  height: 250px;

  overflow: hidden;
}

.trc-socials {
  width: 100%;
  height: 42px;
}

@media screen and (max-width: 768px) {
  .trc-socials {
    height: 32px;
  }
}

.trc-socials > div {
  flex: 1;
  height: 100%;
}

.trc-socials > div:nth-child(even) {
  background: var(--color-white);
}

section.contact > form {
  width: 100%;
  max-width: 720px;

  padding: 24px;
}

section.contact > form > div:nth-child(2) {
  width: 100%;
  align-items: flex-end;
}

section.contact > form button {
  width: 320px;
}

section.contact > form input,
section.contact > form textarea {
  width: 100%;
  background: var(--color-gray50);

  border-radius: 0.8rem;

  font-size: var(--font-size-p);
  font-weight: var(--font-weight-regular);
  color: var(--color-black);
}

section.contact > form input::placeholder,
section.contact > form textarea::placeholder {
  color: var(--color-gray200);
}

section.contact > form input {
  height: 48px;

  padding: 0px 16px;
}

section.contact > form textarea {
  height: 150px;

  padding: 16px;
  resize: none;
}

section.contact > form .form-split {
  width: 100%;
}

section.contact > form .form-split > input {
  flex: 1;
}

@media screen and (max-width: 768px) {
  section.contact > form {
    padding: 16px;
  }

  section.contact > form button {
    width: 100%;
  }

  section.contact > form .form-split {
    flex-wrap: wrap;
  }

  section.contact > form .form-split > input {
    min-width: 100%;
  }
}
