@media screen and (max-width: 768px) {
  .body-container {
    flex-direction: column;
  }
}

.cart-list {
  width: calc(100% - 360px - 24px);

  padding: 24px;
}

@media screen and (max-width: 768px) {
  .cart-list {
    width: 100%;
    padding: 16px;
  }
}

.cart-item {
  width: 100%;
}

.cart-item .cart-thumbnail {
  min-width: 120px;
  width: 120px;
  aspect-ratio: 1/1;

  overflow: hidden;
}

.cart-item .cart-details {
  width: calc(100% - 120px - 1.6rem);
  height: 100%;
}

.cart-details .cart-info {
  width: calc(100% - 2.4rem - 24px);
}

.cart-details .cart-info h4 {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.cart-delete-btn {
  width: 24px;
  height: 24px;
}

.cart-pm-btn {
  width: 3.6rem;
  height: 3.6rem;

  border: 1.3px solid var(--color-gray100);
}

button.cart-pm-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.order-summary {
  width: 360px;

  padding: 24px;
}

@media screen and (max-width: 768px) {
  .order-summary {
    width: 100%;
    padding: 16px;
  }
}

.order-summary div > div.seperator {
  width: 100%;
  height: 0.8px;

  background: var(--color-gray100);
}

.order-summary button#checkout_btn {
  width: 100%;
}
