@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

:root {
  --color-primary: #cc5500;
  --color-primary-faded: #cc55001a;
  --color-secondary: #36454f;
  --color-secondary-faded: #36454f1a;
  --color-accent: #acb3a8;
  --color-black: #210f02;
  --color-white: #fffbf9;
  --color-gray200: #59524d;
  --color-gray100: #c0bfbe;
  --color-gray50: #eaebed;

  --font-family: "Poppins", "Roboto", sans-serif;
  --font-size-h3: 24px;
  --font-size-h4: 20px;
  --font-size-p: 16px;
  --font-size-sp: 14px;
  --font-size-xsp: 12px;

  --font-weight-regular: 400;
  --font-weight-medium: 600;
  --font-weight-semi-bold: 700;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  height: 48px;

  gap: 8px;

  background: transparent;
  border: none;
  border-radius: 8px;

  outline: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* COLORS */
.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-accent {
  color: var(--color-accent);
}

.color-black {
  color: var(--color-black);
}

.color-white {
  color: var(--color-white);
}

.color-gray200 {
  color: var(--color-gray200);
}

.color-gray100 {
  color: var(--color-gray100);
}

.color-gray50 {
  color: var(--color-gray50);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-primary-faded {
  background-color: var(--color-primary-faded);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-secondary-faded {
  background-color: var(--color-secondary-faded);
}

.bg-accent {
  background-color: var(--color-accent);
}

.bg-black {
  background-color: var(--color-black);
}

.bg-white {
  background-color: var(--color-white);
}

.bg-gray200 {
  background-color: var(--color-gray200);
}

.bg-gray100 {
  background-color: var(--color-gray100);
}

.bg-gray50 {
  background-color: var(--color-gray50);
}

/* TYPOGRAPHY */
h3,
.h3 {
  font-size: var(--font-size-h3);
  line-height: 30px;
}

h4,
.h4 {
  font-size: var(--font-size-h4);
  line-height: 24px;
}

.p12 {
  font-size: var(--font-size-xsp);
  line-height: 14px;
}

.p14 {
  font-size: var(--font-size-sp);
  line-height: 16px;
}

.p16 {
  font-size: var(--font-size-p);
  line-height: 22px;
}

.regular {
  font-weight: var(--font-weight-regular);
}

.medium {
  font-weight: var(--font-weight-medium);
}

.semi-bold {
  font-weight: var(--font-weight-semi-bold);
}

/* LAYOUT */

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.gap-4 {
  gap: 4px;
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.gap-32 {
  gap: 32px;
}

.gap-48 {
  gap: 48px;
}

.rd-4 {
  border-radius: 4px;
}

.rd-8 {
  border-radius: 8px;
}

.rd-16 {
  border-radius: 16px;
}

/* DEFAULT */

main {
  width: 100dvw;

  padding: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 768px) {
  main {
    padding: 16px;
  }
}

.body-container {
  width: 100%;
  max-width: 1280px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}

.brand-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.brand-logo .logo-img {
  width: 48px;
  height: 48px;
}

/* NAV */

nav {
  width: 100%;
  height: 80px;

  padding: 0 24px;

  border-bottom: 0.8px solid var(--color-gray50);
  background: var(--color-white);

  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 50;
}

@media screen and (max-width: 768px) {
  nav {
    padding: 0 16px;
  }
}

.nav-container {
  width: 100%;
  max-width: 1280px;
}

nav .nav-container[data-name="mobile"] {
  display: none;
}

@media screen and (max-width: 768px) {
  nav .nav-container[data-name="mobile"] {
    display: flex;
  }

  nav .nav-container[data-name="desktop"] {
    display: none;
  }
}

ul.nav-links {
  list-style: none;
}

@media screen and (max-width: 768px) {
  ul.nav-links {
    flex-direction: column;
  }
}

ul.nav-links li.active {
  color: var(--color-primary);
  font-weight: var(--font-weight-medium);
}

.nav-actions button.bookings-btn {
  width: 180px;
}

.nav-actions button.cart-btn {
  width: 48px;

  border: 1.3px solid var(--color-secondary);

  position: relative;
}

@media screen and (max-width: 768px) {
  button.bookings-btn {
    width: 100%;
  }

  .nav-actions {
    gap: 16px;
  }

  .nav-actions button.cart-btn,
  .nav-actions button#mobile-nav-menu-btn {
    width: 24px;
  }

  .nav-actions button.cart-btn {
    border: none;
  }
}

.nav-actions button.cart-btn span {
  width: 18px;
  height: 18px;

  display: none;

  border-radius: 50%;

  position: absolute;
  top: 6px;
  right: 6px;
}

nav #mobile-nav-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  nav #mobile-nav-menu {
    width: 100%;
    min-height: calc(100dvh - 80px);

    padding: 24px;

    position: fixed;
    top: 80px;
    left: 0px;
    z-index: 40;
  }
  nav #mobile-nav-menu.show {
    display: flex;
    animation: rolloutMenu 0.5s ease-in-out;
  }

  @keyframes rolloutMenu {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
}

/* FOOTER */
footer {
  width: 100%;

  padding: 24px;

  border-top: 0.8px solid var(--color-gray50);
  background: var(--color-white);
}

@media screen and (max-width: 768px) {
  footer {
    padding: 16px;
  }
}

footer .footer-container {
  width: 100%;
  max-width: 1280px;
}

footer .footer-container .top > div {
  width: 50%;
}

@media screen and (max-width: 768px) {
  footer .footer-container .top {
    flex-direction: column-reverse;
  }

  footer .footer-container .top > div {
    width: 100%;
  }
}

.follow-actions > a > button.social-btn {
  width: 36px;
  height: 36px;
  padding: 0px;
}

.newsletter .email-inp-container {
  width: 100%;
  height: 58px;

  padding: 8px;

  border: 0.8px solid var(--color-gray100);
}

.newsletter .email-inp-container input {
  width: 100%;
  height: calc(100% - 180px - 8px);

  padding: 8px;

  border: none;
  outline: none;
}

.newsletter .email-inp-container input::placeholder {
  color: var(--color-gray100);
}

.newsletter .email-inp-container button {
  width: 180px;
  height: 42px;
}

.newsletter .email-inp-container button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

footer .footer-container .seperator {
  width: 100%;
  height: 0.8px;

  background: var(--color-gray100);
}

footer .footer-container .bottom div a {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  footer .footer-container .bottom {
    flex-direction: column-reverse;
  }

  footer .footer-container .bottom > div {
    width: 100%;
  }
}

.hero {  
  display: flex;   
  justify-content: space-between; 
  align-items: center;   
  padding: 24px 24px 24px 48px;   
  width: 100%;   
  height: 368px;    
  background: var(--color-primary-faded);  
  border-radius: 16px; 
}

.hero-left {
  flex: 1;
  margin-right: 48px;
}

.hero-left h3 {
  margin-bottom: 24px; 
  line-height: 30px;  
  color: var(--color-secondary); 
}

.hero-left h3 span {
  color: var(--color-primary);
}


.hero-left p {
  font-size: var(--font-size-p);
  line-height: 22px;
  font-weight: var(--font-weight-regular);
  color: var(--color-gray200);
  margin-bottom: 24px; 
}

.hero-buttons {
  display: flex;
  gap: 24px; 
}

.hero-buttons button {
  font-size: var(--font-size-sp);
}

.light {
  height: 48px;
  width: 236px;
  border: 1px solid var(--color-primary);
  background: transparent;
  color: var(--color-primary);
}

.light:hover {
   background: var(--color-primary);
  color: var(--color-white);
}

.dark {
  width: 320px;
  background: var(--color-primary);
  color: var(--color-white);
}

.dark:hover {
  border: 1px solid var(--color-primary);
  background: transparent;
  color: var(--color-primary);
}

.hero img {
  height: 100%;
  object-fit: cover;
}

.products {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 14px;
}

.products-card {
  width: 100%; 
  min-height: 480px;
  color: var(--color-black);
}

.price-rating span {
  margin: 10px 0;
}

.products-header, .achievements-header {
  text-align: center;
  max-width: 539px;
  height: 148px;
  margin-bottom: 10px;
}

.products-header .title, .achievements-header .title {
  color: var(--color-primary);
  font-weight: 500;
  font-size: var(--font-size-sp);
  line-height: 16px;
  margin-bottom: 24px;
}

.products-header h3, .achievements-header h3 {
  color: var(--color-secondary);
  font-weight: var(--font-weight-medium);
  margin-bottom: 14px;
}

.products-header .description, .achievements-header .description {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-sp);
  color: var(--color-gray200);
  line-height: 16px;
}

.products-categories {
  margin: 24px auto;    
  display: flex;
  justify-content: center;
  gap: 8px;
  width: fit-content;
}

.products-categories button {
  padding: 8px 16px 8px 16px;
  margin: 5px;
  border: 1px solid var(--color-gray100);
  background: transparent;
  border-radius: 4px;
  font-size: var(--font-size-sp);
  font-weight: var(--font-weight-regular);
  color: var(--color-gray200);
  line-height: 16px;
  height: 32px;
}

.products-categories button:hover {
  border-color: var(--color-primary);
  color: var(--color-primary);
  background-color: var(--color-primary-faded);
}

.view-more {
  width: 320px;
  height: 48px;
  border-radius: 8px;
  color: var(--color-white);
  background-color: var(--color-secondary);
}


.achievements {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.stats-card {
  display: flex;
  width: 100%;
  max-width: 1280px;
  margin-top: 48px;
  height: 152px;
  justify-content: center;
  align-items: center;
}

.stat-card1, .stat-card2, .stat-card3 {
  width: 320px;
  height: 152px;
  text-align: left;
  padding: 24px 20px;
  border: 1px solid var(--color-secondary);
}

.stat-card1, .stat-card3 {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.statcard-header {
  font-size: var(--font-size-h3);
  line-height: 30px;
  font-weight: var(--font-weight-medium);
  margin-bottom: 8px;
  color: var(--color-white);
}

.statcard-header2{
  font-size: var(--font-size-h3);
  line-height: 30px;
  font-weight: var(--font-weight-medium);
  margin-bottom: 8px;
  color: var(--color-secondary);
}

.stat-card2 h3 {
  color: var(--color-secondary);
  font-size: var(--font-size-p);
  font-weight: 500;
  line-height: 22px;
  padding-bottom: 14px;
}

.stat-card2 p {
  color: var(--color-gray200);
  font-size: var(--font-size-sp);
  font-weight: var(--font-weight-regular);
  line-height: 16px;
}


.stat-card1 h3, .stat-card3 h3 {
  font-size: var(--font-size-p);
  font-weight: 500;
  line-height: 22px;
  color: var(--color-white);
  padding-bottom: 14px;
}

.stat-card1 p, .stat-card3 p {
  font-size: var(--font-size-sp);
  font-weight: var(--font-weight-regular);
  line-height: 16px;
  color: var(--color-gray100);
}


.news {
  width: 100%;
  max-width: 1280px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
}


.news-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 72px;
}

.news-header-text1 h3{
  font-weight: var(--font-weight-medium);
  color: #000000;
}


.news-header-text2 p{
  max-width: 560px;
  font-size: var(--font-size-sp);
  line-height: 16px;
  color: var(--color-gray200);
  text-align: right;
}


.explore-btn {
  font-size: var(--font-size-sp);
  font-weight: var(--font-weight-medium);
  color: var(--color-primary);
  margin-left: 423px;
}

.explore-btn span {
  margin-left: 6px;
}

.news-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
  width: 100%;
  height: 400px;
}


.news-card-big,
.news-card-small {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}


.news-card-big {
  height: 400px;
}

.news-card-small {
  height: 400px;
}


.news-card-big img,
.news-card-small img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: #ACB3A8E5;
  color: white;
}


.tag {
  font-size: var(--font-size-sp);
  margin-bottom: 6px;
  font-weight: var(--font-weight-regular);
  opacity: 0.9;
}

.overlay h3 {
  font-size: var(--font-size-p);
  font-weight: 500;
  line-height: 24px;
}

/* SMALL CARD TEXT */
.news-card-small h3 {
  font-size: var(--font-size-p);
}



.testimonials {
  width: 100%;
  max-width: 1280px;
  margin: 80px auto; 
  background: var(--color-secondary);
  padding: 60px 40px;
  border-radius: 16px;
  text-align: center;
  color: #fff;
}


.testimonials-header .badge {
  display: inline-block;
  background: var(--color-white);
  color: var(--color-primary);
  padding: 8px 16px 8px 16px;
  border-radius: 4px;
  font-size: var(--font-size-sp);
  font-weight: 500;
  margin-bottom: 16px;
}

.testimonials-header h3 {
  margin-bottom: 14px;
}

.testimonials-header p {
  max-width: 600px;
  margin: 0 auto;
  font-size: var(--font-size-sp);
  color: var(--color-gray100);
  font-weight: var(--font-weight-regular);
}

.testimonials-container {
  margin-top: 40px;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}


.card {
  background: var(--color-white);
  color: #333;
  width: 360px;
  padding: 20px;
  border-radius: 16px;
  text-align: left;
}


.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user {
  display: flex;
  gap: 10px;
  align-items: center;
}


.avatar img {
  width: 48px;
  height: 48px;
  border-radius: 100px;
}

.user p {
  font-size: var(--font-size-p);
  font-weight: 500;
  color: black;
  margin: 0;
}

.user span {
  font-size: var(--font-size-sp);
  font-weight: var(--font-weight-regular);
  color: var(--color-gray200);
}


.quote {
  color: var(--color-gray100);
  border: 1px solid var(--color-gray100);
  width: 38px;
  height: 38px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
}

.review {
  margin: 20px 0;
  font-size: var(--font-size-h4);
  color: var(--color-secondary);
  font-weight: 500;
}

/* STARS */
.stars {
  color: var(--color-primary);
  font-size: 18px;
}

.dots {
  margin-top: 25px;
}

.dots span {
  display: inline-block;
  width: 30px;
  height: 4px;
  background: var(--color-gray100);
  margin: 0 4px;
  border-radius: 2px;
}

.dots .active {
  background: var(--color-primary);
}