@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");

:root {
  --color-primary: #cc5500;
  --color-primary-faded: #cc55001a;
  --color-secondary: #36454f;
  --color-secondary-faded: #36454f1a;
  --color-accent: #acb3a8;
  --color-black: #210f02;
  --color-white: #fffbf9;
  --color-gray200: #59524d;
  --color-gray100: #c0bfbe;
  --color-gray50: #eaebed;

  --font-family: "Poppins", "Roboto", sans-serif;
  --font-size-h3: 2.4rem;
  --font-size-h4: 2rem;
  --font-size-p: 1.6rem;
  --font-size-sp: 1.4rem;
  --font-size-xsp: 1.2rem;

  --font-weight-regular: 400;
  --font-weight-medium: 600;
  --font-weight-semi-bold: 700;
}

@media screen and (max-width: 768px) {
  :root {
    --font-size-h3: 1.8rem;
    --font-size-h4: 1.6rem;
    --font-size-p: 1.4rem;
    --font-size-sp: 1.2rem;
    --font-size-xsp: 1rem;
  }
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-family: var(--font-family);

  scrollbar-width: thin;
  scrollbar-color: var(--color-gray100) var(--color-gray50);
}

*::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: var(--color-gray50);
  border-radius: 8px;
}
*::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: var(--color-gray100);
  border-radius: 8px;
}
*::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover {
  background: var(--color-secondary);
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
textarea {
  background: transparent;
  outline: none;
  border: none;
}

button {
  height: 4.8rem;

  gap: 0.8rem;

  border-radius: 0.8rem;

  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

button svg,
button i {
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  button {
    height: 4rem;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* COLORS */
.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-accent {
  color: var(--color-accent);
}

.color-black {
  color: var(--color-black);
}

.color-white {
  color: var(--color-white);
}

.color-gray200 {
  color: var(--color-gray200);
}

.color-gray100 {
  color: var(--color-gray100);
}

.color-gray50 {
  color: var(--color-gray50);
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-primary-faded {
  background-color: var(--color-primary-faded);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-secondary-faded {
  background-color: var(--color-secondary-faded);
}

.bg-accent {
  background-color: var(--color-accent);
}

.bg-black {
  background-color: var(--color-black);
}

.bg-white {
  background-color: var(--color-white);
}

.bg-gray200 {
  background-color: var(--color-gray200);
}

.bg-gray100 {
  background-color: var(--color-gray100);
}

.bg-gray50 {
  background-color: var(--color-gray50);
}

/* TYPOGRAPHY */
h3,
h4 {
  text-wrap-style: balance;
}

p {
  text-wrap-style: pretty;
}

h3,
.h3 {
  font-size: var(--font-size-h3);
  line-height: 30px;
}

h4,
.h4 {
  font-size: var(--font-size-h4);
  line-height: 24px;
}

.p12 {
  font-size: var(--font-size-xsp);
  line-height: 14px;
}

.p14 {
  font-size: var(--font-size-sp);
  line-height: 16px;
}

p,
.p16 {
  font-size: var(--font-size-p);
  line-height: 22px;
}

.regular {
  font-weight: var(--font-weight-regular);
}

.medium {
  font-weight: var(--font-weight-medium);
}

.semi-bold {
  font-weight: var(--font-weight-semi-bold);
}

/* LAYOUT */

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.gap-2 {
  gap: 0.2rem;
}

.gap-4 {
  gap: 0.4rem;
}

.gap-8 {
  gap: 0.8rem;
}

.gap-10 {
  gap: 1rem;
}

.gap-12 {
  gap: 1.2rem;
}

.gap-16 {
  gap: 1.6rem;
}

.gap-24 {
  gap: 2.4rem;
}

.gap-32 {
  gap: 3.2rem;
}

.gap-48 {
  gap: 4.8rem;
}

.rd-4 {
  border-radius: 0.4rem;
}

.rd-8 {
  border-radius: 0.8rem;
}

.rd-16 {
  border-radius: 1.6rem;
}

.rd-24 {
  border-radius: 2.4rem;
}

.text-center {
  text-align: center;
}

/* DEFAULT */

noscript,
.noscript {
  width: 100%;
  height: 90vh;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: var(--font-size-h4);
  font-weight: var(--font-weight-medium);
  color: var(--color-gray200);
}

main {
  width: 100%;

  padding: 2.4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 100%;
}

section > div.section-header {
  text-align: center;
  max-width: 640px;
}

@media screen and (max-width: 768px) {
  main {
    padding: 16px;
  }

  section > div.section-header {
    max-width: 100dvw;
  }
}

.body-container {
  width: 100%;
  max-width: 1280px;
}

.brand-logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.brand-logo .logo-img {
  width: 4.8rem;
  height: 4.8rem;
}

@media screen and (max-width: 768px) {
  .brand-logo .logo-img {
    width: 4rem;
    height: 4rem;
  }
}

svg.lucide-icon {
  width: 2.4rem;
  height: 2.4rem;
  stroke-width: 1.3px;
}

@media screen and (max-width: 768px) {
  svg.lucide-icon {
    width: 1.8rem;
    height: 1.8rem;
  }
}

.no-item-found {
  width: 100%;
  height: 450px;
}

.no-item-found svg.lucide-icon {
  width: 6.4rem;
  height: 6.4rem;
}

.no-item-found div > p {
  max-width: 540px;
  text-align: center;
  margin-bottom: 32px;
}

.no-item-found div > a > button {
  width: 240px;
}

/* NAV */

nav {
  width: 100%;
  height: 80px;

  padding: 0 24px;

  border-bottom: 0.8px solid var(--color-gray50);
  background: var(--color-white);

  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 50;
}

@media screen and (max-width: 768px) {
  nav {
    height: 64px;

    padding: 0 16px;
  }
}

.nav-container {
  width: 100%;
  max-width: 1280px;
}

nav .nav-container[data-name="mobile"] {
  display: none;
}

@media screen and (max-width: 768px) {
  nav .nav-container[data-name="mobile"] {
    display: flex;
  }

  nav .nav-container[data-name="desktop"] {
    display: none;
  }
}

ul.nav-links {
  list-style: none;
}

@media screen and (max-width: 768px) {
  ul.nav-links {
    flex-direction: column;
  }
}

ul.nav-links li.active {
  color: var(--color-primary);
  font-weight: var(--font-weight-medium);
}

.nav-actions button.bookings-btn {
  width: 180px;
}

.nav-actions button.cart-btn {
  width: 48px;

  border: 1.3px solid var(--color-secondary);

  position: relative;
}

@media screen and (max-width: 768px) {
  button.bookings-btn {
    width: 100%;
  }

  .nav-actions button.cart-btn,
  .nav-actions button#mobile-nav-menu-btn {
    width: 24px;
  }

  .nav-actions button.cart-btn {
    border: none;
  }
}

.nav-actions button.cart-btn span {
  min-width: 18px;

  padding: 1px 4px;

  display: none;

  border-radius: 9px;

  position: absolute;
  top: 6px;
  right: 6px;
}

.nav-actions button.cart-btn span.show {
  display: flex;
}

nav #mobile-nav-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  nav #mobile-nav-menu {
    width: 100%;
    min-height: calc(100dvh - 64px);

    padding: 24px;

    position: fixed;
    top: 64px;
    left: 0px;
    z-index: 40;
  }
  nav #mobile-nav-menu.show {
    display: flex;
    animation: rolloutMenu 0.5s ease-in-out;
  }

  @keyframes rolloutMenu {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
}

/* FOOTER */
footer {
  width: 100%;

  padding: 24px;

  border-top: 0.8px solid var(--color-gray50);
  background: var(--color-white);
}

@media screen and (max-width: 768px) {
  footer {
    padding: 16px;
  }
}

footer .footer-container {
  width: 100%;
  max-width: 1280px;
}

footer .footer-container .top > div {
  width: 50%;
}

@media screen and (max-width: 768px) {
  footer .footer-container .top {
    flex-direction: column-reverse;
  }

  footer .footer-container .top > div {
    width: 100%;
  }
}

.follow-actions > a > button.social-btn {
  width: 36px;
  height: 36px;
  padding: 0px;
}

.newsletter .email-inp-container {
  width: 100%;
  height: 58px;

  padding: 8px;

  border: 0.8px solid var(--color-gray100);
}

.newsletter .email-inp-container input {
  width: 100%;
  height: calc(100% - 180px - 8px);

  padding: 8px;

  border: none;
  outline: none;
}

.newsletter .email-inp-container input::placeholder {
  color: var(--color-gray100);
}

.newsletter .email-inp-container button {
  width: 180px;
  height: 42px;
}

.newsletter .email-inp-container button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

footer .footer-container .seperator {
  width: 100%;
  height: 0.8px;

  background: var(--color-gray100);
}

footer .footer-container .bottom div a {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  footer .footer-container .bottom {
    flex-direction: column-reverse;
  }

  footer .footer-container .bottom > div {
    width: 100%;
  }
}
